{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,

  "printWidth": 80,

  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",

  "tabWidth": 2,
  "useTabs": false
}
